.playgroundCode {
    background: #f9f9f9;
    border: 1px solid rgba(16, 16, 16, 0.1);
    overflow: hidden;
    margin-bottom: 20px;
}

.playgroundPreview {
    margin-bottom: 20px;
    min-height: 40px;
}

.playgroundError {
    color: #c5695c;
    font-family: 'Roboto Mono', monospace;
    font-size: 15px;
    margin-bottom: 20px;
}
