.home {
  .hero {
    background: #2d2d2d;
    height: 300px;
    padding-top: 50px;
    text-align: center;
  }

  h1 {
    color: $react-blue;
  }

  .mission {
    color: #fff;
    font-size: rem-calc(18);
    text-transform: uppercase;
    margin-bottom: 0;
  }

  .buttons {
    margin-top: 50px;

    > a {
      background: $react-red;
    }
  }

  .content {
    padding: 40px 0;
  }
}
