@import url(//fonts.googleapis.com/css?family=Montserrat|Hind|Roboto+Mono);
@import url(//cdnjs.cloudflare.com/ajax/libs/foundicons/3.0.0/foundation-icons.css);

@import "../node_modules/foundation-sites/scss/foundation";

$header-font-family: 'Montserrat', sans-serif;
$body-font-family: 'Hind', sans-serif;
$font-family-monospace: 'Roboto Mono', sans-serif;

$topbar-background: #222;
$body-background: #fff;

$react-red: #c05b4d;
$react-blue: #00d5fe;

// TODO: Enable this when Foundation fixes the top-bar when global-flexbox is set to true.
// See: https://github.com/zurb/foundation-sites/issues/8325
//$global-flexbox: true;

@include foundation-progress-element;
@include foundation-flex-grid;
@include foundation-flex-classes;
@include foundation-everything;

@import "components/docs/docs";
@import "components/home/home";
@import "components/navbar/navbar";
@import "components/not-found/not-found";

@import "./styles/codemirror.css";
@import "./styles/eiffel.css";
@import "./styles/playground.css";
