@import url(https://fonts.googleapis.com/css?family=Montserrat|Hind);

$foundation-palette: (
  primary: #c05b4d,
  secondary: #00d5fe,
  success: #3adb76,
  warning: #ffae00,
  alert: #ec5840,
);

@import "../node_modules/foundation-sites/scss/foundation";

$header-font-family: 'Montserrat', sans-serif;
$body-font-family: 'Hind', sans-serif;

$topbar-background: #222;

@include foundation-progress-element;
@include foundation-flex-grid;
@include foundation-flex-classes;
@include foundation-everything;

@import "components/home/home";
@import "components/navbar/navbar";
@import "components/not-found/not-found";

body {
  background: #f9f9f9;
}
