@import url(//fonts.googleapis.com/css?family=Montserrat|Hind|Roboto+Mono);
@import url(//cdnjs.cloudflare.com/ajax/libs/foundicons/3.0.0/foundation-icons.css);

@import "../node_modules/foundation-sites/scss/foundation";

$header-font-family: 'Montserrat', sans-serif;
$body-font-family: 'Hind', sans-serif;
$font-family-monospace: 'Roboto Mono', sans-serif;

$topbar-background: #222;
$body-background: #fff;

$react-red: #c05b4d;
$react-blue: #00d5fe;

@include foundation-progress-element;
@include foundation-everything;

@import "components/docs/docs";
@import "components/home/home";
@import "components/navbar/navbar";
@import "components/not-found/not-found";

@import "./styles/codemirror.css";
@import "./styles/eiffel.css";
@import "./styles/playground.css";

.row.display-end {
  background: #fff;
  font-size: 11px;
  margin-bottom: 10px;
  line-height: 2rem;
  border: solid 1px #c6c6c6;
  margin-left: 0 !important;
  margin-right: 0 !important;
}

.row.display {
  background: #eee;
  font-size: 11px;
  margin-bottom: 10px;
  line-height: 2rem;
  border: solid 1px #c6c6c6;
  margin-left: 0 !important;
  margin-right: 0 !important;
}

.row.display .columns:nth-child(2), .row.display .columns.small-centered, .row.display .columns.large-centered {
  background: #e1e1e1;
}

.row.display-end .columns {
  background: #e1e1e1;
  border-left: 1px solid #c6c6c6;
}
